<div class="bgcol">
	<div class="container">
	    <div class="row">
	        <div class="col-12">
	            <div class="card">
	                <div class="card-body p-0">
	                    <div class="row p-5">
                        <h2> Veuillez valider votre commande </h2>
	                    </div>
	                    <hr class="my-5">

	                    <div class="row pb-5 p-5">
	                        <div class="col-md-6">
	                            <p class="font-weight-bold mb-4">Client Information</p>
	                            <p class="mb-1"><%= current_user.email %></p>
	                        </div>

	                        <div class="col-md-6 text-right">
	                            <p class="font-weight-bold mb-4">Payment Details</p>
	                            <p class="mb-1"><span class="text-muted">COMMAND ID </span> <%= @cart.id %></p>
	                            <p class="mb-1"><span class="text-muted">USER ID: </span> <%= current_user.id %></p>
	                            <p class="mb-1"><span class="text-muted">Payment Type: </span> CB</p>
	                            <p class="mb-1"><span class="text-muted">Locality: </span> France</p>
	                        </div>
	                    </div>

	                    <div class="row p-5">
	                        <div class="col-md-12">
	                            <table class="table">
	                                <thead>
	                                    <tr>
	                                        <th class="border-0 text-uppercase small font-weight-bold">ID</th>
	                                        <th class="border-0 text-uppercase small font-weight-bold">Item</th>
	                                        <th class="border-0 text-uppercase small font-weight-bold">Description</th>
	                                        <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
	                                        <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
	                                        <th class="border-0 text-uppercase small font-weight-bold">Total</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                	<% @cart_items.each do |item| %>
		                                    <tr>
		                                        <td><%= item.id %></td>
		                                        <td><%= item.title %></td>
		                                        <td><%= item.description %></td>
		                                        <td>1</td>
		                                        <td><%= item.price %></td>
		                                        <td><%= item.price %></td>
		                                    </tr>
	                                    <% end %>
	                                </tbody>
	                            </table>
	                        </div>
	                    </div>

	                    <div class="d-flex flex-row-reverse bg-dark text-white p-4">
	                        <div class="py-3 px-5 text-right">
	                            <div class="mb-2">Grand Total</div>
	                            <div class="h2 font-weight-light"><%= @cart_value %> €</div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <%= link_to 'Confirmer commande', store_path, class:"btn btn-link", id:"btnPayment" %>
	</div>
</div>