<!--------------------------------- Slider ----------------------------------------->
    <div id="main-slider"> 
              <div id="home-slider" class="owl-carousel owl-theme">
                  <div class="item">
                    <%= image_tag('slider-1.jpg', class: "img-responsive", alt: "slide-1") %>
                      <div class="slider-desc">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="slide-offers-left promo__fish">
                                          <div class="slide-offers-title"><span>POISSON</span><br/>FISHION</div>
                                          <p>New & Fresh collection<br/>From CAAAARAIBE !!</p>
                                          <a class="btn btn-blue">Adopt now</a>
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                       <div class="slide-offers-right promo__fish">
                                          <div class="slide-offers-title"><span>BALEINE</span><br/>FISHION</div>
                                          <p>Classical & Vintage collection<br/>Vivre avec une Baleine</p>
                                          <a class="btn btn-magenta">Adopt now</a>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                    <%= image_tag('slider-2.jpg', class: "img-responsive", alt: "slide-2") %>
                      <div class="slider-desc">
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="slide-offers-left promo__fish">
                                          <div class="slide-offers-title"><span>50% Reduction</span><br/>sur les poissons pannés</div>
                                            <p>Fish & Chips collection<br/>On vous attend dans nos magazins</p>
                                            <a class="btn btn-blue">Adopt now</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
    </div>    
<!--------------------------------- End-Slider ----------------------------------------->

    <div class="newest">
      <div class="container">
        <div class="newest-content">
          <div class="newest-tab">
      <!--PARTIE MENU DE NAVIGATION A AFFICHER QUE POUR LES LOGINED ???-->
            <ul id="myTab" class="nav nav-tabs newest" role="tablist">
              <li role="presentation" class="active">
                <a href="#1" id="cat-1" role="tab" data-toggle="tab" aria-controls="1" aria-expanded="true">Nos poissons</a>
              </li>
            </ul>
      <!--/////////////////////////////////////////////////////////-->
          <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="1" aria-labelledby="cat-1">
              <div class="row clearfix">
                <% @items.each do |element| %>
                  <div class="col-md-3 prdct-grid">
                    <div class="product-fade">
                      <div class="product-fade-wrap">
                        <div id="product-image">
                          <div class="item">
                            <%= image_tag(element.image, class: "img-responsive", id: element.id, alt: "") %>
                          </div>
                        </div>
                        <div class="product-fade-ct">
                          <div class="product-fade-control">
                            <div class="to-left">
                              <a href=""></a>
                              <a href=""></a>
                              <a href=""></a>
                            </div>
                            <span class="bag" style=' margin-left: 40px';></span>
                              <%=link_to 'Add To car',carts_add_item_path(element.id), class:"btn btn-to-cart", remote: true, method: :post %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="product-name">
                      <%= link_to element.title, home_path(element.id)  %>
                    </div>
                    <div class="product-price">
                      <span>25</span> - <%= sprintf('%.2f', element.price.to_i) %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-------------- end newest ------------->
    <div class="content-offers">
      <div class="container">
        <div class="ct-offers promo">
          <div class="ct-offers-title">Super Promo <br> NOEL</div>
            <p>Offrez la plus belle des expériences a vos enfants pour les fêtes.</p>
            <a class="btn btn-blue">Adopt a shark NOW!</a>
          </div>
        </div>
      </div>
    </div> <!-------------- Content offers ------->
</div> <!-- end-wrapper -->