<div id="believe-nav"> <!-- Nav -->
        <div class="container">
          <div class="min-marg">
            <nav class="navbar navbar-default">
                   <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                  <%= image_tag('logo.png', alt: "") %>
                </a>
              </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="active">
                    <a href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a href="blog.html">Blog</a>
                  </li>
                  <li>
                    <a href="blog-detail.html">Blog Post</a>
                  </li>
                  <li>
                    <a href="contact.html">Contact</a>
                  </li>
                  <li>
                    <a href="#">Buy Pro Version</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="menu-search-form">
                    <a href="#" id="open-srch-form">
                      <%= image_tag('srch.png', alt: "srch") %>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <%= image_tag('pav.png', alt: "pav") %>
                    <span>2</span></a>
                  </li>
                  <li>
                    <a href="#">
                      <%= image_tag('bag.png', alt: "bag") %>
                    <span>2</span></a>
                  </li>
                  <li id="open-srch-form-mod">
                    <div>
                      <form class="side-search">
                        <div class="input-group">
                          <input type="text" class="form-control search-wid" placeholder="Search Here" aria-describedby="basic-addon1">
                          <a href="" class="input-group-addon btn-side-serach" id="basic-addon1"></a>
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
            </nav>
          </div>
        </div>

        <div class="srch-form">
          <form class="side-search">
            <div class="input-group">
              <input type="text" class="form-control search-wid" placeholder="Search Here" aria-describedby="basic-addon2">
              <a href="" class="input-group-addon btn-side-serach" id="basic-addon2"></a>
            </div>
          </form>
        </div>
      </div> <!-- Nav -->

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Voici le détail de votre commande</h1>
         </div>
    </section>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">N° de Produit</th>
                                <th scope="col">Image</th>
                                <th scope="col">Nom du produit</th>
                                <th scope="col">Description</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-right">Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% @orders.each do |order| %>
                            <% order.items.each do |item| %>
                            <tr>
                                <td><%= item.id %></td>
                                <td><%= image_tag(item.image, class: "img-responsive", alt: "") %></td>
                                <td><%= item.title %></td>
                                <td><%= item.description %></td>
                                <td><input class="form-control" type="text" value="1" /></td>
                                <td class="text-right"><%= item.price %></td>
                            </tr>
                            <% end %>
                          <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12 col-md-6 text-right">
                      <%= link_to 'Retour au profil', profile_path, class: 'btn btn-lg btn-block btn-success text-uppercase' %> 
                    </div>
                </div>
            </div>
        </div>
    </div>